body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  input {
  }

  .btn,
  button {
    background-color: black;
    border-radius: 50px;
    border: 1px black;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    outline: none;
    margin-left: 5px;
    &:hover,
    :active,
    :focus {
      background-color: grey;
    }
  }

  .container {
    background: #eeeeee;
    display: block;
    margin: 0 auto;
    width: 80vh;
    height: auto;
    .todo {
      height: 40px;
      margin: 40px;
      div {
        float: right;
      }
    }
  }
}
